/.idea
/.bin/*
!/.bin/app
/.bin/app/*
!/.bin/app/migrations
!/.bin/app/config.dist.json
!/.bin/app
/.bin/app/*
!/.bin/app/migrations
!/.bin/app/public
!/.bin/app/tpl
!/.bin/app/config.dist.json
/.deploy/.vault*
/vendor
/docker-compose.yml
*_easyjson.go
*_gen.go
*.iml
